.ds-rule-item .el-form-item {
    margin-bottom: 0;
}


.ds-rule-item {
    &-header {
        height: 36px;
        border-radius: 4px;
        border: 1px solid #e5e6eb;
        background-color: #f7f8fa;
        display: flex;
        align-items: center;
        padding: 0 12px 0 12px;
    }
    &-header.has-body {
        border-radius: 4px 4px 0 0;
    }
    &-header:hover {
        background-color: #f0f6fd;
    }
    &-actions {
        display: flex;
        align-items: center;
    }
    &-action {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &-action + &-action {
        margin-left: 12px;
    }
    &-action:hover {
        color: #165dff;
    }

    &-action.danger:hover {
        color: #f53f3f;
    }

    &-title {
        margin-left: 8px;
    }
    &-body {
        border-right: 1px solid #e5e6eb;
        border-left: 1px solid #e5e6eb;
        border-bottom: 1px solid #e5e6eb;
        padding: 6px 0;
        border-radius: 0 0 4px 4px;
    }
}
.ds-rule-switch-warp {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
}
