.ds-switch-warp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    .ds-switch {
        z-index: 2;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 1px;
        background-color: #c9cdd4;
        height: calc(50% - 18px);
        left: 50%;
        transform: translateX(-50%);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    &.hover::before,
    &.hover::after {
        background-color: #00b42a;
    }
    &.checked.hover::before,
    &.checked.hover::after {
        background-color: #165dff;
    }
}
