.ds-switch-warp {
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 32px;
    .ds-switch {
        z-index: 2;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 1px;
        background-color: #c9cdd4;
        height: calc(50% - 24px);
        left: 10px;
        transform: translateX(-50%);
        pointer-events: none;
    }
    &::before {
        top: 6px;
    }
    &::after {
        bottom: 6px;
    }
    &.hover::before,
    &.hover::after {
        background-color: #00b42a;
    }
    &.checked.hover::before,
    &.checked.hover::after {
        background-color: #165dff;
    }
}
